    .birdCards {
        width: 100%;
        margin: auto; 
    }
    
  .birdCard {
    position: absolute;
    top: 6px;
    margin: auto;
    max-width: 500px;
    width: 100%;
    min-height: 600px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #b0b2b0;
    display: none;
    }
  
    .active {
      display: block;
    }
  
    .birdInfo {
      padding: 10px;
    }
  
    .slider {
      width: 100%;
      text-align: center;
      overflow: hidden;
    }
    
    .slides {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
    .slides::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    .slides::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 10px;
    }
    .slides::-webkit-scrollbar-track {
      background: transparent;
    }
    .slides > div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      height: 300px;
      margin-right: 50px;
      border-radius: 10px;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
    }
  
    img {
      object-fit: scale-down;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    .bgImg {
      object-fit: cover;
      filter: blur(15px) contrast(50%);
    }
    
    .slider > a {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      background: white;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 0 0.5rem 0;
      position: relative;
    }
    .slider > a:active {
      top: 1px;
    }
    .slider > a:focus {
      background: #000;
    }
  

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }



  @media screen and (max-width: 665px) {

    .birdCards {
      width: 100%;
      margin: auto;
      height: 100%;
  }

    .birdCard{
    position: absolute;
    top: 0px;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    display: none;
    border-radius: 0%;
  }
  .active {
    display: block;
  }
  }