html, body {
    background-color: #677568;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    margin: auto;
    height: 100%; 
    width: 100%; /* The width is the width of the web page */
  }

#mapContainer {
    margin: auto;
    height: 100%; 
    width: 100%; /* The width is the width of the web page */
    overflow: hidden;
  }

.pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    text-align: center;
    padding-bottom: 1em;
}

.offscreen {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }

.page {
 background-color: white;
 width: 100%;
  display: flex;
flex-direction: column;}

h1 {
    margin: 0;
    } 

    @media screen and (max-width: 665px) {

      .pageHeader > h1 {
        font-size: 1.5em;
        margin: 0;
        } 

    }